
@font-face {
  font-family: "Gotham Narrow A";      
  src: url('../fonts/gotham-narrow-a-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Gotham Narrow A";      
  src: url('../fonts/gotham-narrow-a-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Gotham Narrow";      
  src: url('../fonts/gotham-narrow-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Gotham Narrow";      
  src: url('../fonts/gotham-narrow-250-normal.woff') format('woff');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Gotham Narrow";      
  src: url('../fonts/gotham-narrow-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: ForkAwesome;      
  src: url('../fonts/forkawesome-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Gotham Narrow";      
  src: url('../fonts/gotham-narrow-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
